# WooCommerce Public Store URL (used for public Store API)
NEXT_PUBLIC_WC_STORE_URL=https://backend.sntoriginals.com

# WooCommerce Private API credentials (SERVER-SIDE ONLY - NEVER EXPOSE TO CLIENT)
WC_CONSUMER_KEY=
WC_CONSUMER_SECRET=

# Site configuration
NEXT_PUBLIC_SITE_NAME="NOIRÉ"
NEXT_PUBLIC_SITE_URL=https://sntoriginals.com

# Set to "true" for LiteSpeed / query route rest_route fallback
NEXT_PUBLIC_WC_USE_REST_ROUTE=true
